* {

    margin: 0;
}

h1 {
    color: rgb(5, 5, 59);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
}


div .curso {
    font-family: 'Poppins', sans-serif; 
    color: coral;
}

.curso{
    border: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 120px;
    height: 120px;
    border-radius: 80px;
    text-align: center;
    margin: 30px;
    padding: 30px;
    background-color: rgb(231, 219, 253);
}

.coral {
    color: coral;
}

.destacado {
    color: rgb(5, 5, 59);
    font-family: 'Poppins', sans-serif;

}

section{
    text-align: center;

}
section div a {
    text-decoration: none;
    color: rgb(1, 1, 12);

}

.parrafo {
    color: rgb(1, 1, 12);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
h3 {
    color: rgb(5, 5, 59);
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    text-align: center;

}
p {
    color: coral;
    font-family: 'Poppins', sans-serif;
    margin: 30px;

}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    flex-direction: reverse;

}

.caja {
    border: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 120px;
    height: 30px;
    text-align: center;
    margin-left: 30px;
}

header {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 5, 5);
}
footer {
    text-align: center;
}